<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Cuadrillas </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Lista de Cuadrillas</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Lista Cuadrillas</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input class="form-control" placeholder="Buscar" [(ngModel)]="searchDataValue"
                          (keyup.enter)="searchData()" />
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt="" /></a>
                      </div>
                      <div class="add-group">
                        <button class="btn btn-primary ms-2" (click)="openDialog()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-primary ms-2" (click)="PageSize()">
                          <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Table Header -->
            <div class="row align-items-center py-4">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Contrata</th>
                        <th>Cuadrilla</th>
                        <th>Zona</th>
                        <th>Tecnicos</th>
                        <th>Estado</th>
                        <th>Ver</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let cuadrilla of cuadrillasList">
                        <tr>
                          <td>{{ cuadrilla.contratista.nombre }}</td>
                          <td>{{ cuadrilla.tipo_brigada.nombre }}</td>
                          <td>{{ cuadrilla.zona.nombre }}</td>
                          <td>{{ countTecnicos(cuadrilla) }}</td>
                          <td>
                            <button [ngClass]="{
                                'status-pink': cuadrilla.estado === '0',
                                'status-green': cuadrilla.estado === '1'
                              }" class="custom-badge" (click)="inactiva(cuadrilla)">
                              {{ cuadrilla.estadotext }}
                            </button>
                          </td>
                          <td>
                            <div class="add-group">
                              <button class="btn btn-primary ms-2" (click)="showSegment(cuadrilla)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </button>
                            </div>
                            <!-- <a class="btn btn-primary add-pluss ms-2" (click)="showSegment(cuadrilla)" ><img
                                                            src="assets/img/icons/search-normal.svg" alt="" /></a>
                                                    -->
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div class="table_footer">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                        Mostrando {{ serialNumberArray[0] }} a
                        {{ serialNumberArray[serialNumberArray.length - 1] }} de
                        {{ totalData }} cuadrillas
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-7">
                      <div class="pagination_section mx-2">
                        <ul class="pagination">
                          <li class="page-item" [ngClass]="{
                              disabled: currentPage === 1
                            }">
                            <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                              tabindex="-1">Anterior</a>
                          </li>

                          <ng-container *ngFor="let item of pageNumberArray; let i = index">
                            <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                (pageNumberArray[currentPage - 2] > item &&
                                  item !== 1 &&
                                  pageNumberArray.length > 6) ||
                                (pageNumberArray[currentPage] < item &&
                                  item !== 1 &&
                                  pageNumberArray.length > 6 &&
                                  pageNumberArray.length !== item)
                                  ? 'hide-page-no'
                                  : 'show-page-no'
                              ">
                              <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                {{ item }}
                              </a>
                            </li>
                            <li class="page-item" *ngIf="
                                i === 0 &&
                                pageNumberArray.length > 6 &&
                                currentPage > 2
                              " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                              (keyup.enter)="moveToPage(currentPage - 2)" tabindex="0">
                              <a class="page-link" href="javascript:void(0);">
                                ...
                              </a>
                            </li>
                            <li *ngIf="
                                i === pageNumberArray.length - 2 &&
                                pageNumberArray.length > 6
                              " [hidden]="
                                currentPage >=
                                  pageNumberArray[pageNumberArray.length - 2] ||
                                totalData <
                                  serialNumberArray[
                                    serialNumberArray.length - 1
                                  ]
                              " class="page-item" (click)="moveToPage(currentPage + 2)"
                              (keyup.enter)="moveToPage(currentPage + 2)" tabindex="0">
                              <a class="page-link" href="javascript:void(0);">
                                ...
                              </a>
                            </li>
                          </ng-container>

                          <li class="page-item" [ngClass]="{
                              disabled:
                                currentPage ===
                                  pageNumberArray[pageNumberArray.length - 1] ||
                                cuadrillasList.length === 0
                            }">
                            <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Siguiente
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5" *ngIf="CUADRILLA_SELECTED">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>TECNICO</th>
                        <th>LIDER</th>
                        <th>UM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let SEGMENT of CUADRILLA_SELECTED.user_movil">
                        <tr>
                          <td>
                            {{ SEGMENT.user.nombre }}
                          </td>
                          <td>
                            <button class="check-point status-blue me-1" *ngIf="SEGMENT.is_lider === '1'">
                              <i class="feather icon-user-check"></i>
                            </button>
                          </td>
                          <td>
                            <div *ngIf="SEGMENT.unidad_movil">
                              {{ SEGMENT.unidad_movil.placa }}
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>