<h2 mat-dialog-title>Ubicación de: {{bitacora.nombre}}</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row" [formGroup]="datosForm">
                              <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                  <mat-label for="latitud">
                                    Latitud
                                  </mat-label>
                                  <input class="form-control" formControlName="latitud" name="latitud" type="text" />
                                </div>
                              </div>

                              <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                  <mat-label for="longitud">
                                    Longitud
                                  </mat-label>
                                  <input class="form-control" formControlName="longitud" name="longitud" type="text" />
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-2">
                                <div class="form-group local-forms">
                                  <mat-label for="distancia">Distancia </mat-label>
                                  <input formControlName="distancia" class="form-control" name="distancia" type="number" />
                                </div>
                              </div>
          

                              <div class="col-12 col-md-6 col-xl-3">
                                <button class="btn btn-primary ms-1"><i class="fas fa-map-marker-alt" (click)="getLocation()"  aria-hidden="true" ></i></button>
                                <a href="https://www.google.com/maps/search/?api=1&query={{bitacora.latitud}},{{bitacora.longitud}}" class="btn btn-primary ms-1" target="_blank"><i class="fa fa-map" (click)="getLocation()"  aria-hidden="true"></i></a>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button cdkFocusInitial [disabled]="datosForm.invalid"  (click)="guardar()">Guardar</button>
</mat-dialog-actions>