<h2 mat-dialog-title>Unidad Movil </h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row align-items-center" [formGroup]="datosForm">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Agregar Unidad Movil</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="selectedRed">Marca <span class="login-danger">*</span>
                                    </mat-label>
                                    <mat-select formControlName="marca" class="form-control select"
                                        placeholder="Selec. Marca">
                                        <mat-option *ngFor="let data of marcas" [value]="data.id">
                                            {{ data.nombre }}
                                          </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="selectedRed">Modelo <span class="login-danger">*</span>
                                    </mat-label>
                                    <mat-select formControlName="modelo_id" class="form-control select"
                                        placeholder="Selec. Modelo">
                                        <mat-option *ngFor="let data of modelos" [value]="data.id">
                                            {{ data.nombre }}
                                          </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="selectedRed">Color <span class="login-danger">*</span>
                                    </mat-label>
                                    <mat-select formControlName="color_id" class="form-control select"
                                        placeholder="Selec. Color">
                                        <mat-option *ngFor="let data of colores" [value]="data.id">
                                            {{ data.nombre }}
                                          </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="placa">Placa </mat-label>
                                    <input formControlName="placa" class="form-control" name="placa"
                                        type="text" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="kilometraje">Kilometraje </mat-label>
                                    <input formControlName="kilometraje" class="form-control" name="kilometraje"
                                        type="number" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="datosForm.invalid" cdkFocusInitial (click)="saveUnidadMovil()">Guardar</button>
</mat-dialog-actions>