<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Bitacoras </a></li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Agregar Bitacora</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form>
              <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Bitacora </mat-panel-title>
                    <mat-panel-description>
                      Datos de Bitacora
                      <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row align-items-center" [formGroup]="datosForm">
                    <div class="col-12">
                      <div class="form-heading">
                        <h4>Agregar Bitacora</h4>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                      <div class="form-group local-forms">
                        <mat-label for="nombre">
                          Descripción de averia
                          <span class="login-danger">*</span>
                        </mat-label>
                        <input class="form-control" formControlName="nombre" name="nombre" type="text" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                      <div class="form-group local-forms">
                        <mat-label for="nombre">
                          Enlace/Anillo/Plano/Site
                          <span class="login-danger">*</span>
                        </mat-label>
                        <input class="form-control" formControlName="enlace_plano_site" name="enlace_plano_site" type="text" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="fecha_inicial">Fecha Inicial
                          <span class="login-danger">*</span>
                        </mat-label>
                       <!--  <input formControlName="fecha_inicial" class="form-control" name="fecha_inicial" type="text"
                          matInput [matDatepicker]="picker" />
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-datepicker-toggle matIconSuffix class="mt-4" [for]="picker"></mat-datepicker-toggle> -->

                        <input type="datetime-local" class="form-control" formControlName="fecha_inicial"
                        name="fecha_inicial" />

                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="fecha_ejecucion">Fecha Ejecución
                        </mat-label>
                        <input type="datetime-local" class="form-control" formControlName="fecha_ejecucion"
                        name="fecha_ejecucion" />

                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="nro_incidencia">Nro Incidencia
                        </mat-label>
                        <input formControlName="incidencia" class="form-control" name="nro_incidencia" type="text" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="nro_sot">Nro Sot </mat-label>
                        <input formControlName="sot" class="form-control" name="nro_sot" type="text" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="fecha_sot">Fecha SOT
                        </mat-label>
                        <input type="datetime-local" class="form-control" formControlName="fecha_sot"
                        name="fecha_sot" />

                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Tipo Averia
                          <span class="login-danger">*</span></mat-label>
                        <mat-select formControlName="tipo_averia_id" class="form-control select"
                          placeholder="Selec. Tipo Averia">
                          <mat-option *ngFor="let data of tipo_Averia" [value]="data.id">
                            {{ data.nombre }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="latitud">Latitud </mat-label>
                        <input formControlName="latitud" class="form-control" name="latitud" type="text" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="longitud">Longitud </mat-label>
                        <input formControlName="longitud" class="form-control" name="longitud" type="text" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="distancia">Distancia </mat-label>
                        <input formControlName="distancia" class="form-control" name="distancia" type="number" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="selectedRed">Red1 <span class="login-danger">*</span>
                        </mat-label>
                        <mat-select formControlName="red_id" class="form-control select" placeholder="Selec. Red1">
                          <mat-option *ngFor="let data of red" [value]="data.id">
                            {{ data.nombre }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Serv1 <span class="login-danger">*</span></mat-label>
                        <mat-select formControlName="serv_id" class="form-control select" placeholder="Selec. Serv1">
                          <mat-option *ngFor="let data of serv" [value]="data.id">
                            {{ data.nombre }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="">
                        <mat-slide-toggle formControlName="afect_servicio" >Afectacion de Servicio </mat-slide-toggle>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="">
                        <mat-slide-toggle formControlName="afect_masiva" >Afectacion de Masiva </mat-slide-toggle>
                      </div>
                    </div>

                  </div>

                  <mat-action-row>
                    <button mat-button color="primary" [disabled]="datosForm.invalid" (click)="nextStep()">
                      Siguiente
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Sites </mat-panel-title>
                    <mat-panel-description>
                      Seleccionar Site
                      <!-- <mat-icon>map</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="row align-items-center" [formGroup]="siteForm">
                    <div class="col-12">
                      <div class="form-heading">
                        <h4>Datos Site</h4>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Buscar Site</mat-label>
                        <input type="text" class="form-control" [formControl]="siteControl" [matAutocomplete]="auto" />
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option of filteredSites | async" [value]="option"
                            (click)="onSetSite(option)">
                            {{ option.codigo }} - {{ option.nombre }}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Código</mat-label>
                        <input class="form-control" [value]="site?.codigo" [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Zona</mat-label>
                        <input class="form-control" [value]="site?.zona?.nombre" [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label for="cliente">Cliente </mat-label>
                        <input class="form-control" formControlName="cliente" name="cliente" type="text" />
                      </div>
                    </div>


                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Region</mat-label>
                        <input class="form-control" [value]="site?.region?.nombre" [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Departamento</mat-label>
                        <input class="form-control" [value]="
                            site?.departamento?.nombre
                          " [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Provincia</mat-label>
                        <input class="form-control" [value]="site?.provincia?.nombre" [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Distrito</mat-label>
                        <input class="form-control" [value]="site?.distrito?.nombre" [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Latitud</mat-label>
                        <input class="form-control" [value]="site?.latitud" [disabled]="true" />
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-2">
                      <div class="form-group local-forms">
                        <mat-label>Longitud</mat-label>
                        <input class="form-control" [value]="site?.longitud" [disabled]="true" />
                      </div>
                    </div>
                  </div>

                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Anterior
                    </button>
                    <button mat-button color="primary" (click)="nextStep()" [disabled]="siteForm.invalid">
                      Siguiente
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Brigadas </mat-panel-title>
                    <mat-panel-description>
                      Seleccionar Brigadas
                      <!-- <mat-icon>date_range</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row align-items-center">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                 
                                  <th>Brigada</th>
                                  <th>T. Brigada</th>
                                  <th>Contrata</th>
                                  <th>Base</th>
                                  <th>Tecnicos</th>
                                  <th>
                                    Acción
                                    <button class="ml-auto check-point status-blue me-1" (click)="onAddBrigada()">
                                      <i class="feather icon-plus"></i>
                                    </button>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let brigada of brigadas">
                                  <tr>
                                    <td>{{ brigada.nombre }}</td>
                                    <td>{{ brigada.tipo_brigada.nombre }}</td>
                                    <td>{{ brigada.contratista.nombre }}</td>
                                    <td>{{ brigada.zona.nombre }}</td>
                                    <td>{{ countTecnicos(brigada) }}</td>
                                    <td>
                                      <div class="add-group">
                                        <button class="check-point status-blue me-1" (click)="showSegment(brigada)">
                                          <i class="feather icon-search"></i>
                                        </button>
                                        <button class="check-point status-blue" *ngIf="searchadd(brigada)"
                                          (click)="addBrigada(brigada)">
                                          <i class="feather icon-plus"></i>
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                            <div class="table_footer">
                              <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">
                                  Mostrando {{ serialNumberArray[0] }} a
                                  {{
                                  serialNumberArray[
                                  serialNumberArray.length - 1
                                  ]
                                  }}
                                  de {{ totalData }} cuadrillas
                                </div>
                              </div>

                              <div class="col-sm-12 col-md-7">
                                <div class="pagination_section">
                                  <ul class="pagination">
                                    <li class="page-item" [ngClass]="{
                                        disabled: currentPage === 1
                                      }">
                                      <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                        tabindex="-1">
                                        Anterior
                                      </a>
                                    </li>

                                    <ng-container *ngFor="
                                        let item of pageNumberArray;
                                        let i = index
                                      ">
                                      <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                          (pageNumberArray[currentPage - 2] >
                                            item &&
                                            item !== 1 &&
                                            pageNumberArray.length > 6) ||
                                          (pageNumberArray[currentPage] <
                                            item &&
                                            item !== 1 &&
                                            pageNumberArray.length > 6 &&
                                            pageNumberArray.length !== item)
                                            ? 'hide-page-no'
                                            : 'show-page-no'
                                        ">
                                        <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                          {{ item }}
                                        </a>
                                      </li>
                                      <li class="page-item" *ngIf="
                                          i === 0 &&
                                          pageNumberArray.length > 6 &&
                                          currentPage > 2
                                        " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                                        (keyup.enter)="
                                          moveToPage(currentPage - 2)
                                        " tabindex="0">
                                        <a class="page-link" href="javascript:void(0);">
                                          ...
                                        </a>
                                      </li>
                                      <li *ngIf="
                                          i === pageNumberArray.length - 2 &&
                                          pageNumberArray.length > 6
                                        " [hidden]="
                                          currentPage >=
                                            pageNumberArray[
                                              pageNumberArray.length - 2
                                            ] ||
                                          totalData <
                                            serialNumberArray[
                                              serialNumberArray.length - 1
                                            ]
                                        " class="page-item" (click)="moveToPage(currentPage + 2)" (keyup.enter)="
                                          moveToPage(currentPage + 2)
                                        " tabindex="0">
                                        <a class="page-link" href="javascript:void(0);">
                                          ...
                                        </a>
                                      </li>
                                    </ng-container>

                                    <li class="page-item" [ngClass]="{
                                        disabled:
                                          currentPage ===
                                            pageNumberArray[
                                              pageNumberArray.length - 1
                                            ] || brigadas.length === 0
                                      }">
                                      <a (click)="getMoreData('next')" class="page-link"
                                        href="javascript:void(0);">Siguiente
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="brigadaSelected">
                      <div class="card-box">
                        <div class="card-block">
                          <div class="table-responsive">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>TECNICO</th>
                                  <th>UM</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="
                                    let SEGMENT of brigadaSelected.user_movil
                                  ">
                                  <tr>
                                    <td>
                                      {{ SEGMENT.user.nombre }}
                                    </td>
                                    <td>
                                      <div *ngIf="SEGMENT.unidad_movil">
                                        {{ SEGMENT.unidad_movil.placa }}
                                      </div>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-12">
                      <div class="card-box">
                        <div class="card-block">
                          <h4 class="card-title">Brigada Seleccionada</h4>
                          <div class="table-responsive">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>Base</th>
                                  <th>Brigada</th>
                                  <th>Acción</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="
                                    let cuadriadd of this.brigadasForm.value
                                      .brigadas
                                  ">
                                  <tr>
                                    <td>{{ cuadriadd.zona }}</td>
                                    <td>{{ cuadriadd.nombre }}</td>
                                    <td>
                                      <div class="add-group">
                                        <button class="check-point status-red" (click)="addBrigada(cuadriadd)">
                                          <i class="feather icon-x"></i>
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Anterior
                    </button>
                    <button mat-button color="primary" [disabled]="brigadasForm.invalid" (click)="nextStep()">
                      Siguiente
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Responsables </mat-panel-title>
                    <mat-panel-description>
                      Seleccionar Responsables
                      <!-- <mat-icon>date_range</mat-icon> -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="row align-items-center" [formGroup]="responsablesForm">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>Responsable Ciccsa</th>
                                  <th>Responsable Claro</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td style="text-align: center !important">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                      class="example-radio-group" formControlName="resp_cicsa_id">
                                      <mat-radio-button class="example-radio-button"
                                        *ngFor="let data of responsables_cicsa" [value]="data.id">{{ data.name }} {{
                                        data.surname }}
                                      </mat-radio-button>
                                    </mat-radio-group>
                                  </td>
                                  <td style="text-align: center !important">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                      class="example-radio-group" formControlName="resp_claro_id">
                                      <mat-radio-button class="example-radio-button"
                                        *ngFor="let data of responsables_claro" [value]="data.id">{{ data.name }} {{
                                        data.surname }}
                                      </mat-radio-button>
                                    </mat-radio-group>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Anterior
                    </button>
                    <button mat-button color="primary" [disabled]="
                        datosForm.invalid ||
                        siteForm.invalid ||
                        brigadasForm.invalid ||
                        responsablesForm.invalid
                      " (click)="saveBitacora()">
                      Registrar
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </form>
            <div *ngIf="bitacora.id" class="col-12 d-flex">
              <button class="ms-auto mt-2" mat-button color="warn" (click)="onDelete()">
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>