<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Bitacoras </a></li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Lista de Bitacoras</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Listado de Bitacoras</h3>


                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input class="form-control" placeholder="Buscar bitácoras..." [(ngModel)]="searchDataValue"
                          (keyup.enter)="searchData()" />
                        <a class="btn" (click)="searchData()">
                          <img src="assets/img/icons/search-normal.svg" alt="Buscar" />
                        </a>
                      </div>

                      <div class="add-group">
                        <a routerLink="/bitacoras/add-bitacora" class="btn btn-primary add-pluss ms-2">
                          <img src="assets/img/icons/plus.svg" alt="Agregar" />
                        </a>

                        <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2" (click)="refreshTable()">
                          <img src="assets/img/icons/re-fresh.svg" alt="Refrescar" />
                        </a>
                      </div>
                    </div>



                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">

                  <a href="javascript:;" class=" me-2" (click)="exportExcel()"><img
                      src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                </div>
              </div>

              <!-- /Table Header -->


              <div class="table-responsive">
                <table mat-table [dataSource]="bitacoras" class="mat-elevation-z8">

                  <!-- Nombre -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.correlativo ? (element.correlativo + '_' + element.nombre + '-' + element.enlace_plano_site) : element.nombre }}
                    </td>
                  </ng-container>

                  <!-- Fecha -->
                  <ng-container matColumnDef="fecha_inicial">
                    <th mat-header-cell *matHeaderCellDef  class="col-fecha">Fecha</th>
                    <td mat-cell *matCellDef="let element"  class="col-fecha">{{ element.fecha_inicial | date:'dd-MM-yyyy' }}</td>
                  </ng-container>

                  <!-- SOT -->
                  <ng-container matColumnDef="SOT/INC">
                    <th mat-header-cell *matHeaderCellDef>SOT/INC</th>
                    <td mat-cell *matCellDef="let element">{{ (element.sot ? element.sot : '') +
    (element.sot && element.incidencia ? ' ' : '') +
    (element.incidencia ? element.incidencia : '') }}</td>
                  </ng-container>

                  

                  <!-- Incidencia 
                  <ng-container matColumnDef="incidencia">
                    <th mat-header-cell *matHeaderCellDef>Incidencia</th>
                    <td mat-cell *matCellDef="let element">{{ element.incidencia }}</td>
                  </ng-container>
-->
                  <!-- Tipo Avería -->
                  <ng-container matColumnDef="tipo_averia">
                    <th mat-header-cell *matHeaderCellDef>Tipo Avería</th>
                    <td mat-cell *matCellDef="let element">{{ element.tipo_averia?.nombre }}</td>
                  </ng-container>

                  <!-- Red -->
                  <ng-container matColumnDef="red">
                    <th mat-header-cell *matHeaderCellDef>Red</th>
                    <td mat-cell *matCellDef="let element">{{ element.red?.nombre }}</td>
                  </ng-container>

                  <!-- Serv -->
                  <ng-container matColumnDef="serv">
                    <th mat-header-cell *matHeaderCellDef>Serv</th>
                    <td mat-cell *matCellDef="let element">{{ element.serv?.nombre }}</td>
                  </ng-container>

                  <!-- Estado -->
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">
                      <a [ngClass]="{
          'status-red': element.estado === '1',
          'status-green': element.estado === '0'
        }" class="custom-badge">
                        {{ element.estadotext }}
                      </a>
                    </td>
                  </ng-container>
<!-- Estado SOT 

                  <ng-container matColumnDef="estado_sot">
                    <th mat-header-cell *matHeaderCellDef>Estado SOT</th>
                    <td mat-cell *matCellDef="let element">
                      <button [ngClass]="{
          'status-red': element.estado_sot === true,
          'status-green': element.estado_sot === false
        }" class="custom-badge" [disabled]="(element.estado_sot && element.estado === '1') || !element.estado_sot"
                        (click)="inactiva(element)">
                        {{ element.estado_sot_text }}
                      </button>
                    </td>
                  </ng-container>
-->
<ng-container matColumnDef="estado_sot">
  <th mat-header-cell *matHeaderCellDef>Estado SOT</th>
  <td mat-cell *matCellDef="let element">
    <button
      class="estado-btn"
      (click)="inactiva(element)"
      [disabled]="(element.estado_sot && element.estado === '1') || !element.estado_sot"
      matTooltip="{{ element.estado_sot ? 'Cerrado' : 'Abierto' }}"
    >
      <i
        class="fas"
        [ngClass]="{
          'fa-lock-open text-success': element.estado_sot,
          'fa-lock text-danger': !element.estado_sot
        }"
      ></i>
    </button>
  </td>
</ng-container>


                  <!-- Acciones -->
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element" class="text-end">
                      <div class="botones-acciones">
                        <button [disabled]="element.estado === '0' " class="btn btn-primary ms-1"
                          [routerLink]="['/bitacoras/list-bitacora/detalle-bitacora/', element.id]">
                          <i class="fa fa-clock"></i>
                        </button>
                        <button [disabled]="element.estado === '0'" class="btn btn-primary ms-1">
                          <i class="fas fa-map-marker-alt" (click)="openDialogLocation(element)" aria-hidden="true"></i>
                        </button>
                        <button [disabled]="element.estado === '0'" class="btn btn-primary ms-1">
                          <i class="fa fa-check" (click)="openDialogEnd(element)" aria-hidden="true"></i>
                        </button>
                        <button [disabled]="element.estado === '0'" class="btn btn-primary ms-1"
                          [routerLink]="['/bitacoras/edit-bitacora/', element.id]">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button [disabled]="element.estado_sot === false" class="btn btn-primary ms-1">
                          <i class="fa fa-hourglass" (click)="openDialogDemora(element)" aria-hidden="true"></i>
                        </button>
                        <!-- <button *ngIf="user?.roles?.[0] !== 'Tecnico'" class="btn btn-primary ms-1"> -->
                        <button class="btn btn-primary ms-1">
                          <i class="fa fa-eye" (click)="openDialog(element.id)" aria-hidden="true"></i>
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

              <!-- Paginador -->
              <mat-paginator [length]="totalData" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"
                [showFirstLastButtons]="true" (page)="onPaginateChange($event)">
              </mat-paginator>
              <!--
                <div class="table_footer">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                      Mostrando {{ serialNumberArray[0] }} a
                      {{ serialNumberArray[serialNumberArray.length - 1] }} de
                      {{ totalData }} bitacoras
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-7">
                    <div class="pagination_section mx-2">
                      <ul class="pagination">
                        <li class="page-item" [ngClass]="{
                          disabled: currentPage === 1
                        }">
                          <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                            tabindex="-1">Anterior</a>
                        </li>

                        <ng-container *ngFor="let item of pageNumberArray; let i = index">
                          <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          ">
                            <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                              {{ item }}
                            </a>
                          </li>
                          <li class="page-item" *ngIf="
                            i === 0 &&
                            pageNumberArray.length > 6 &&
                            currentPage > 2
                          " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                            (keyup.enter)="moveToPage(currentPage - 2)" tabindex="0">
                            <a class="page-link" href="javascript:void(0);">
                              ...
                            </a>
                          </li>
                          <li *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          " [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData <
                              serialNumberArray[serialNumberArray.length - 1]
                          " class="page-item" (click)="moveToPage(currentPage + 2)"
                            (keyup.enter)="moveToPage(currentPage + 2)" tabindex="0">
                            <a class="page-link" href="javascript:void(0);">
                              ...
                            </a>
                          </li>
                        </ng-container>

                        <li class="page-item" [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            bitacoras.length === 0
                        }">
                          <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Siguiente
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
-->



            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3 text-center">

      <!-- src/app/app.component.html -->
      <div class="container" style="text-align: center;">
        <h2>Conectar a WhatsApp</h2>

        <div *ngIf="(utilities.estado$ | async) === 'esperando_qr'" style="margin-top: 20px;">
          <h4>Escanea el código QR:</h4>
          <img [src]="utilities.qrImagen$ | async" *ngIf="utilities.qrImagen$ | async" width="300" />
        </div>

        <div *ngIf="(utilities.estado$ | async) === 'conectado'" style="margin-top: 20px;">
          <h4>✅ Conectado</h4>

        </div>

        <div *ngIf="(utilities.estado$ | async) === 'error'">
          <p style="color: red;">❌ Error al conectar</p>
        </div>
      </div>
    </div>


  </div>
</div>