section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .botones-acciones {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

/*.botones-acciones button {
  width: 36px;
  height: 36px;
  //border-radius: 50%;
  min-width: unset;
}
*/
.col-fecha {
  width: 120px; // o el valor que desees (por ejemplo 100px)
  min-width: 100px;
  max-width: 110px;
  white-space: nowrap;
}

.estado-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.estado-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}