<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Bitacoras</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Agregar Tareas Bitacora</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body"><!-- *ngIf="usuario_selected" -->
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Desarrollo de la atención de averia : <!-- #{{ usuario_selected.id }} -->
                                        </h4>
                                    </div>
                                </div>

                                <!--   <mat-card class="example-card"> -->
                                <ng-container *ngFor="let atencion of atenciones">

                                    <mat-card-header>
                                        <mat-card-title> ({{atencion.orden}}) {{atencion.descripcion}}
                                            <a *ngIf="atencion.bitacora_atencion?.length === 0"><i
                                                    class=" fas fa-plus-circle" (click)="addItemAtencion(atencion)"
                                                    aria-hidden="true"></i></a></mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ng-container
                                            *ngFor="let bitacoraatencion of atencion.bitacora_atencion; let i = index">

                                            <div class="row align-items-center">
                                                <div class="col-12 col-md-3 col-xl-2" style="height: 50px;">
                                                    <div class="form-group local-forms">
                                                        <label [for]="bitacoraatencion.hora"></label>
                                                        <input class="form-control" [name]="bitacoraatencion.hora"
                                                            type="time" [(ngModel)]="bitacoraatencion.hora"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-xl-8" style="height: 50px;">
                                                    <div class="form-group local-forms">
                                                        <label [for]="bitacoraatencion.descripcion">
                                                        </label>
                                                        <textarea class="form-control"
                                                            [name]="bitacoraatencion.descripcion" rows="1" cols="10"
                                                            [(ngModel)]="bitacoraatencion.descripcion"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 col-xl-2  space-x-4 flex" style="height: 50px;">
                                                    <button class="btn btn-primary ms-1" [disabled]="!(bitacoraatencion.descripcion !== '' && bitacoraatencion.hora !== '')"><i class="fa-solid fa-comment"
                                                        (click)="addItem(bitacoraatencion,'1')"
                                                        aria-hidden="true"></i></button>
                                                    <button class="btn btn-primary ms-1" [disabled]="!(bitacoraatencion.descripcion !== '' && bitacoraatencion.hora !== '')"><i
                                                            class="fas fa-plus-circle"
                                                            (click)="addItem(bitacoraatencion,'0')"
                                                            aria-hidden="true"></i></button>
                                                    <button *ngIf="bitacoraatencion.bitacora_atencion?.length === 0"
                                                        class="btn btn-primary ms-1" (click)="deleteItem(atencion, i)"
                                                        aria-hidden="true"><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                            <ng-container
                                                *ngFor="let hijo of bitacoraatencion.bitacora_atencion; let j = index">
                                                <div class="row align-items-center">
                                                    <div class="col-12 col-md-2 col-xl-2 offset-md-1 offset-xl-1"
                                                        *ngIf="hijo.is_coment === '0'" style="height: 50px;">
                                                        <div class="form-group local-forms">
                                                            <label [for]="hijo.hora"></label>
                                                            <input class="form-control" [name]="hijo.hora" type="time"
                                                                [(ngModel)]="hijo.hora"
                                                                [ngModelOptions]="{standalone: true}">
                                                        </div>
                                                    </div>
                                                    <div [class.col-xl-7]="hijo.is_coment === '0'"
                                                        [class.col-xl-9]="hijo.is_coment === '1'"
                                                        class="col-12 "
                                                        [class.col-md-6]="hijo.is_coment === '0'"
                                                        [class.col-md-8]="hijo.is_coment === '1'"
                                                        [class.offset-xl-1]="hijo.is_coment === '1'"
                                                        [class.offset-md-1]="hijo.is_coment === '1'"
                                                        style="height: 50px;">
                                                        <div class="form-group local-forms">
                                                            <label [for]="hijo.descripcion"> </label>
                                                            <textarea class="form-control" [name]="hijo.descripcion"
                                                                rows="1" cols="10" [(ngModel)]="hijo.descripcion"
                                                                [ngModelOptions]="{standalone: true}"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-3 col-xl-2" style="height: 50px;">
                                                        <button  [disabled]="!valida(bitacoraatencion)" class="btn btn-primary ms-1"><i class="fa-solid fa-comment"
                                                                (click)="addItem(bitacoraatencion,'1')"
                                                                aria-hidden="true"></i></button>
                                                        <button [disabled]="!valida(bitacoraatencion)" class="btn btn-primary ms-1"><i class="fas fa-plus-circle"
                                                                (click)="addItem(bitacoraatencion,'0')"
                                                                aria-hidden="true"></i></button>
                                                        <button class="btn btn-primary ms-1" (click)="deleteItemHijo(bitacoraatencion, j)"
                                                            aria-hidden="true"><i class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </mat-card-content>
                                </ng-container>
                                <!-- </mat-card> -->


                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="button" class="btn btn-primary submit-form me-2"
                                            (click)="guardar()">Guardar</button>
                                        <button type="submit" class="btn btn-primary cancel-form" (click)="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>