<div
  class="main-wrapper"
  [ngClass]="{
    'expand-menu': expandMenu && miniSidebar,
    'mini-sidebar': miniSidebar,
    'slide-nav': mobileSidebar
  }"
>
  <app-header
    [ngClass]="{
      'd-none': sideBarActivePath === false && headerActivePath === false
    }"
  ></app-header>
  <app-sidebar
    [ngClass]="{
      'd-none': sideBarActivePath === false && headerActivePath === false
    }"
  ></app-sidebar>
  <router-outlet></router-outlet>
  <div
    class="sidebar-overlay"
    [ngClass]="{
      opened: mobileSidebar
    }"
  ></div>
  <app-modal></app-modal>
</div>
