<h2 mat-dialog-title>Finalizar Bitacora: {{bitacora.nombre}}</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label>Causa de Averia <span class="login-danger">*</span></label>
                                    <mat-select [(ngModel)]="selectedCausa" [ngModelOptions]="{standalone: true}"
                                        class="form-control select" placeholder="Seleccione Causa">
                                        <mat-option *ngFor="let data of causa" [value]="data.id">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label>Consecuencia Averia <span class="login-danger">*</span></label>
                                    <mat-select [(ngModel)]="selectedConsecuencia" [ngModelOptions]="{standalone: true}"
                                        class="form-control select" placeholder="Seleccione Consecuencia">
                                        <mat-option *ngFor="let data of consecuencia" [value]="data.id">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label>Tipo de Reparación<span class="login-danger">*</span></label>
                                    <mat-select [(ngModel)]="selectedTipoReparacion" [ngModelOptions]="{standalone: true}"
                                        class="form-control select" placeholder="Seleccione Tipo Rep.">
                                        <mat-option *ngFor="let data of tipoReparacion" [value]="data.id">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <label for="tiempo">Tiempo atención </label>
                                    <input class="form-control" [(ngModel)]="tiempo" name="tiempo" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="form-group local-forms">
                                    <label for="herramientas">Material Utilizado </label>
                                    <textarea class="form-control" name="herramientas"
                                        rows="5" cols="10" [(ngModel)]="herramientas"
                                        ></textarea>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="guardar()">Guardar</button>
</mat-dialog-actions>