<h2 mat-dialog-title>Finalizar Bitacora: {{bitacora.nombre}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row"  [formGroup]="datosForm">



                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <mat-label>Causa Averia
                                    <span class="login-danger">*</span></mat-label>
                                  <mat-select formControlName="causa_averia_id" class="form-control select"
                                    placeholder="Seleccione Causa">
                                    <mat-option *ngFor="let data of causa" [value]="data.id">
                                      {{ data.nombre }}
                                    </mat-option>
                                  </mat-select>
                                </div>
                              </div>

                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <mat-label>Consecuencia
                                    <span class="login-danger">*</span></mat-label>
                                  <mat-select formControlName="consecuencia_averia_id" class="form-control select"
                                    placeholder="Seleccione Consecuencia">
                                    <mat-option *ngFor="let data of consecuencia" [value]="data.id">
                                      {{ data.nombre }}
                                    </mat-option>
                                  </mat-select>
                                </div>
                              </div>



                            
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <mat-label>Tipo de Reparación
                                    <span class="login-danger">*</span></mat-label>
                                  <mat-select formControlName="tipo_reparacion_id" class="form-control select"
                                    placeholder="Seleccione Tipo Rep.">
                                    <mat-option *ngFor="let data of tipoReparacion" [value]="data.id">
                                      {{ data.nombre }}
                                    </mat-option>
                                  </mat-select>
                                </div>
                              </div>



                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="tiempo_solucion">Tiempo atención </mat-label>
                                    <input class="form-control" formControlName="tiempo_solucion" name="tiempo_solucion"
                                        type="text">
                                </div>
                            </div>
                            
        
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <mat-label for="herramientas">Material Utilizado </mat-label>
                                    <textarea class="form-control" name="herramientas" rows="5" cols="10"
                                    formControlName="herramientas" ></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button cdkFocusInitial (click)="guardar()">Guardar</button>
</mat-dialog-actions>